.globe__container {
    width: 100%;
    position: sticky;
    z-index: 0;
    overflow: hidden;
    top: 0rem;
    margin-top: -4rem;
}

.globe__canvas {
    width: 100%;
    display: block;
    margin: auto;
}