.main {
  width: 100%;
  height: fit-content;
  background-color:#343A40;
  z-index: 1;
}

.footer {
  height: fit-content;
  background-color: #495057;
  margin-top: 5rem;
}

.footer__credit {
  height: 3rem;
  padding-top: 0.7rem;
  width: fit-content;
  margin: auto;
  color: #E9ECEF;
}